  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

.cs1{
    background-image:linear-gradient(to right, rgba(255, 0, 0, 0.733),rgba(255, 166, 0, 0.699),rgba(255, 255, 0, 0.774),rgba(0, 128, 0, 0.678),rgba(0, 0, 255, 0.582),rgba(76, 0, 130, 0.651),rgba(238, 130, 238, 0.658));
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display: flex;
    text-align: center;
    justify-content: center;
}


.cs2{
    background: linear-gradient(to right,rgba(114, 112, 112, 0.534),rgba(26, 25, 25, 0.582));
    position: relative;
    top: 10%;
    height: 500px;
    width: 400px;
    box-shadow: 5px 10px 18px #4d4d4da4;

}


.cs3{
    color: white;
    margin-top: 25px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}

input:focus{
    outline: none;

}
.cs4 input{
    margin-top: 50px;
    width: 90%;
    background: none;
    border: none;
    border-bottom:1px solid rgb(136, 131, 131) ;
    text-decoration: none;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    
}


.cs5{
    color: rgb(255, 255, 255);
    position: absolute;
    left: 30px;
    margin-top: -7%;
    font-size: 18px;
    pointer-events:none;
    transition: all 0.3s;
    
}
.cs4 input:focus ~ .cs5,
.cs4 input:valid ~ .cs5
{
    color: rgba(252, 252, 252, 0.575);
    transform: translateY(-20px);
    font-size: 14px;
    position: absolute;
    left: 20px;
}

.cs6{
    color: white;
    margin-top: 10%;
    
}

#cs8{
    width: 40%;
    background: rgb(185, 185, 185);
    border: none;
    font-size: 15px;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 20px;
    color: white;
}
#cs8:hover{
    
    background-color: rgb(165, 161, 161);
    padding: 5px;
    
}

a{
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

.cs7 p{
    color: white;
}


a:hover{
    background: -webkit-linear-gradient(blue, cyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}
